<div ng-view>
    <section class="content-header">
        <h3 class="no-margin">试卷管理</h3>
    </section>

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <button class="btn btn-app"
                                ng-disabled="selectedRow==undefined"
                                ng-click="deletePaper()">
                            <i class="fa  fa-remove"></i> 删除
                        </button>
                        <button class="btn btn-app"
                                ng-disabled="selectedRow==undefined"
                                ng-click="getPaperDetail()">
                            <i class="fa fa-commenting"></i> 试卷详情
                        </button>
                        <button class="btn btn-app"
                                ng-disabled="selectedRow==undefined"
                                ng-click="makePaper()">
                            <i class="fa fa-commenting"></i> 出题
                        </button>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div ag-grid="gridOptions" class="ag-blue" style="height: 100%;"></div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>

        </div><!-- /.row -->
        <!-- Main row -->

    </section><!-- /.content -->
</div>
<script id="paperDetail.html" type="text/ng-template">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">试题详情</h4>
        </div>
        <div class="modal-body">
            <div class="panel-group" id="according" role="tablist" aria-multiselectable="true">
                <div class="panel panel-info">
                    <div class="panel-heading" role="tab" id="content">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                试卷内容
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <textarea class="form-control" rows="15"
                                      placeholder="试卷内容">{{paperDetail.content}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="answer">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                试卷答案
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="answer">
                        <div class="panel-body">
                            <textarea class="form-control" rows="12"
                                      placeholder="试卷答案">{{paperDetail.answer}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            tip:不可修改,修改需要在修改相应的试题.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="cancel()">取消</button>
            <button type="button" class="btn btn-primary" ng-click="ok()">确定</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="deletePaper.html">
    <div class="modal-header">
        <button class="close" ng-click="cancel()"><span class="white">&times;</span></button>
        <h3 class="modal-title" id="modal-title">删除试卷</h3>
    </div>
    <div class="modal-body warn">
        确认要删除试卷<label class="required">{{paper.name}}</label>?
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">确定
        </button>
    </div>
</script>
<script type="text/ng-template" id="makePaper.html">
    <div class="modal-header">
        <button class="close" ng-click="cancel()"><span class="white">&times;</span></button>
        <h3 class="modal-title" id="modal-title">出题</h3>
    </div>
    <div class="modal-body warn">
        <form class="form-horizontal" name="paperForm">
            <div class="form-group">
                <label for="startTime" class="col-sm-2 control-label">开始时间:</label>
                <div class="input-group date col-sm-5">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#"
                           href="#">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <span type="text" id="startTime" name="startTime" class="form-control">{{paper.startTime | date:"yyyy年MM月dd日 h:mma"}}</span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="paper.startTime"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown' }"></datetimepicker>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="totalTime" class="col-sm-2 control-label">总用时:</label>
                    <div class="input-group col-sm-5">
                        <input type="text" class="form-control" id="totalTime" name="totalTime"
                               placeholder="总用时:分钟" ng-model="paper.totalTime">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default" ng-click="cancel()">取消</button>
        <button type="submit" class="btn btn-info pull-right" ng-click="ok()" ng-disabled="paperForm.$invalid">确定
        </button>
    </div>


</script>
