<div ng-view>
    <section class="content-header">
        <h3 class="no-margin">试卷分类管理</h3>
    </section>

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <button class="btn btn-app" ng-click="addCategory()">
                            <i class="fa fa-plus-circle"></i> 新建
                        </button>
                        <button class="btn btn-app"
                                ng-disabled="selectedRow==undefined"
                                ng-click="modifyCategory()">
                            <i class="fa fa-edit"></i> 编辑
                        </button>
                        <button class="btn btn-app"
                                ng-disabled="selectedRow==undefined"
                                ng-click="deleteCategory()">
                            <i class="fa  fa-remove"></i> 删除
                        </button>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div ag-grid="gridOptions" class="ag-blue" style="height: 100%;"></div>
                        <div style="position: fixed; top: 0px; left: 0px; padding: 10px;">
                            <!--每页显示条数:-->
                            <!--<select onchange="onPageSizeChanged(this.value)">-->
                            <!--<option value="5">5</option>-->
                            <!--<option value="10" selected="selected">10</option>-->
                            <!--<option value="20">20</option>-->
                            <!--</select>-->
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>

        </div><!-- /.row -->
        <!-- Main row -->

    </section><!-- /.content -->
</div>
<script type="text/ng-template" id="addCategory.html">
    <div class="modal-header">
        <button class="close" ng-click="cancel()"><span class="white">&times;</span></button>
        <h3 class="modal-title" id="modal-title">新建分类</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form class="form-horizontal" role="form" name="addform">
            <div class="form-group">
                <label class="col-md-3 control-label">分类
                    <span class="required text-red">*</span>
                </label>
                <div class="col-md-7">
                    <input type="text" name="name" ng-model="category.name" required
                           class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">描述
                </label>
                <div class="col-md-7">
                    <textarea class="form-control" ng-model="category.description"></textarea>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
            <button class="btn btn-primary" type="button" ng-disabled="addform.$invalid" ng-click="ok()">确定
            </button>
        </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="modifyCategory.html">
    <div class="modal-header">
        <button class="close" ng-click="cancel()"><span class="white">&times;</span></button>
        <h3 class="modal-title" id="modal-title">新建分类</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form class="form-horizontal" role="form" name="addform">
            <div class="form-group">
                <label class="col-md-3 control-label">分类
                    <span class="required">*</span>
                </label>
                <div class="col-md-7">
                    <input type="text" name="name" ng-model="category.name" required
                           class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">描述
                </label>
                <div class="col-md-7">
                    <textarea class="form-control" ng-model="category.description"></textarea>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
            <button class="btn btn-primary" type="button" ng-disabled="addform.$invalid" ng-click="ok()">确定
            </button>
        </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="deleteCategory.html">
    <div class="modal-header">
        <button class="close" ng-click="cancel()"><span class="white">&times;</span></button>
        <h3 class="modal-title" id="modal-title">删除分类</h3>
    </div>
    <div class="modal-body warn">
        确认要删除分类<label class="required">{{category.name}}</label>?
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">确定
        </button>
    </div>
</script>
